
body{   
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(92, 92, 112);
}
.container{
    width:90vw;
    margin:auto;
    height:90vh;
    display:flex;
    flex-direction:column;
}
a{
    font-style:none;
    text-decoration: none;
    color:rgb(61, 61, 75);
}
.header{
background-color:rgb(61, 61, 75);
width:100%;
margin:auto;
}
.header .title{
text-align:center;
padding:15px;
color:white;
}
.majority{
    width:100%;
    background-color:rgb(92, 92, 112);
    height:100%;
    display:flex;
}
.nav {
    background-color:rgb(61, 61, 75);
    width:25%;
    height:100%;
}
.button{
    background-color:rgb(142, 142, 174);
    text-align:center;
    padding:5px;
}
.button:hover{
    background-color:palegreen;
}
.disabled{
    background-color:rgb(74, 74, 91);
    cursor:not-allowed;
    color:rgb(142, 142, 174);
}
.disabled:hover{
    background-color:rgb(74, 74, 91);
}
.iframe {
    background-color:white;
    border-style:none;
    width:100%;
    height:100%;
}